@model Admin.App.Common.Models.CustomerDet

@{
    ViewBag.Title = "NewCustomer";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/scripts/AdminApp/Customer.js"></script>
@using (Html.BeginForm("SaveCustomer", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class=""></i>Register Customer</h1>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item">Customer</li>
                <li class="breadcrumb-item">@Html.ActionLink("View Customers", "ViewCustomer")</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="row">
                        <p class="text-danger">
                            @ViewBag.DocTypeError
                        </p>
                        <form>
                            <div class="col-lg-1" style="display:none;">
                                @Html.EditorFor(model => model.CustomerID, new { htmlAttributes = new { @class = "form-control hidden" } })
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">Company Name<i style="color:red;font-size:larger;">*</i></label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">Contact Person Name</label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.ContactPersonName, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">Primary Email<i style="color:red;font-size:larger;">*</i></label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.PrimaryMailID, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">GSTNO</label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.GSTNO, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">Adhar</label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Adhar, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">CEO Name</label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.CEOName, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">Contact Number</label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.ContactPersonNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">Primary Phone<i style="color:red;font-size:larger;">*</i></label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.PrimaryPhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">PAN</label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.PAN, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">Website</label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">Billing Address<i style="color:red;font-size:larger;">*</i></label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.BillingAddress, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">Billing Address1</label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.BillingAddress1, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">Billing City<i style="color:red;font-size:larger;">*</i></label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.BillingCity, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">Billing State<i style="color:red;font-size:larger;">*</i></label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.BillingState, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">Billing Country<i style="color:red;font-size:larger;">*</i></label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.BillingCountry, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">Billing Pincode<i style="color:red;font-size:larger;">*</i></label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.BillingPincode, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-5">Adhar</label>
                                    <div class="col-md-12">
                                        <input class="form-control" type="file" name="adhar" id="adhar">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-12" style="color:red;" id="lblError"></label>
                                </div>
                            </div>

                            <div class="col-lg-5">
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">
                                        Shipping Address<i style="color:red;font-size:larger;">*</i>
                                        <input type="checkbox" id="CopyAddress" name="CopyAddress" title="Select All" onchange="toggleCheckbox(this)" />
                                    </label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.ShippingAddress, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">Shipping Address1</label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.ShippingAddress1, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">Shipping City<i style="color:red;font-size:larger;">*</i></label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.ShippingCity, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">Shipping State<i style="color:red;font-size:larger;">*</i></label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.ShippingState, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">Shipping Country<i style="color:red;font-size:larger;">*</i></label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.ShippingCountry, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-5 required">Shipping Pincode<i style="color:red;font-size:larger;">*</i></label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.ShippingPincode, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-md-5">PAN</label>
                                    <div class="col-md-12">
                                        <input class="form-control" type="file" name="pan" id="pan">
                                    </div>
                                </div>
                            </div>
                            <div class="tile-footer" style="margin-left:830px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary" type="submit" value="Create" onclick="return btnSave()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Register</button>&nbsp;&nbsp;&nbsp;
                                        <a class="btn btn-secondary" href='@Url.Action("ViewCustomer", "Customer")'><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
}

